*{
    margin:0px;
    padding:0px;
}

body{
    background-color: white;
}
.fbcont {
    /*display: flex;*/
    background-color: purple;
    max-width: 800px;

    min-width: 300px;
    margin:auto;
    flex-wrap: wrap;
    flex: 200px;
    align-items: center;
    justify-content:baseline;
}


.fbitem {
   width: 150px;
   height: 150px;
    background-color:orange;
    border-style: solid;
    border-color:lightblue;
    border-radius: 10px;
    text-align: center;
    
}

