@charset "UTF-8";

body{
    margin:0px;
    padding:0px;
    height:100vh;
    line-height: 20px;
}

.grid-container {
    display:grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 100px 2fr 2fr 100px;
    
    grid-template-areas: 
    "header header"
    "cont pub2"
    "cont form"
    "footer footer";
    max-width: 1268px;
    height:90vh;
    margin: auto;
}

header{
    
    grid-area: header;
    border-style: solid;
}

/* .pub {
    grid-area: pub;
    background-color: rgb(174, 212, 3);
    border-style: solid;
} */

.pub2
{
    grid-area: pub2;
    background-color: rgb(3, 212, 66);
    border-style: solid;
}

.content{
    grid-area: cont;
    background-color: dodgerblue;
    border-style: solid;
}


.form {
    border-style: solid;
    grid-area: form;
    background-color: rgb(252, 237, 181);
}

.frm {
    background-color: blanchedalmond;
    padding: 10px;
    margin-top: 30px;
    margin-left: 50px;
    max-width:fit-content;
    
}

footer{
    border-style: solid;
    grid-area: footer;
    background-color: lightgray;
}